{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "stage-1"
  ],
  "plugins": ["transform-runtime"],
  "sourceMaps": "inline",
  "retainLines": true,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [
        "istanbul",
        [
          "transform-runtime",
          {
            "polyfill": false,
            "regenerator": false
          }
        ]
      ]
    }
  }
}